
body {
    background-color: #314e5c;
    font-family: 'Baloo', cursive;
}
.main {
    width: 725px;
    max-width: 725px;
    margin: auto;
}

.whitefont {
    color: whitesmoke;
}

.bluefont {
    color: #000066;
}

.mainheader {
    color: whitesmoke;
    text-align: center;
    padding-top: 25px;
}

.header-bar {
    height: 125px;
    margin-top: 10px;
}

.lefty {
    background-color: #409fbf;
    width: 2%;
    display: block;
    float: left;
}

.righty {
    background-color: #006699;
    float: left;
    width: 2%;
    display: block;
}

.centery {
    float: left;
    width: 96%;
    display: block;
    background-color: #000066;
}

.left-pane {
    background-color: #409fbf;
    height: auto;
    width: 50%;
    display: inline-block;
}

.right-pane {
    background-color: #006699;
    height: auto;
    width: 50%;
    display: inline-block;
}
.timerfont {
    font-size: 60px;
    text-align: center;
    color: #000066;;
    margin: 5px;
}
.displayfont {
    display: inline;
    color: #000066;
    font-size: 40px;
    padding-left: 20px;
}
.labelfont {
    display: inline;
    color: #000066;
    font-size: 40px;
}

.timerrow {
    max-height: 100px;
    align-content: center;
}


.buttonreset {
    background-color: #000066;
    color: whitesmoke;

}
.buttonstart {
    background-color: #000066;
    color: whitesmoke;

}
.buttonsubmit {
    background-color: #005500;
    color: whitesmoke;
    align-self: center;
}

.formset {
    padding-left: 15px;
}

#question {
    font-family: 'Baloo', cursive;
    font-size: 24px;
    line-height: 24px;
    color: #000066;
    padding-top: 15px;
}

#answerA, #answerB, #answerC, #answerD {
    font-family: 'Baloo', cursive;
    font-size: 20px;
    color: #000066;
    padding-left: 20px;
    line-height: 20px;
}

input[type="radio"] {
   margin: 0px 10px;
   line-height: 10px;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
    pointer-events:none;
    background-color: #006699;
    color: #000066;
}
